---
import { BtnHero } from "../components/nav";
import Layout from "../layouts/Layout.astro";
// import Calendly from "../components/Calendly.astro";
import "@fontsource/rubik";
import "../styles/homeStyles.css";
---

<Layout title="Home">
  <main>
    <section class="header-section">
      <div class="header-container">
        <div class="header-text-area">
          <h1>Making web design easy and effective</h1>
          <h2>Landing pages and web design for<br />e-commerce</h2>
        </div>
        <div class="header-cta-container">
          <p>schedule a free call to chat with us</p>
          <BtnHero client:visible />
        </div>
        <div class="header-image">
          <img
            alt="Header Image"
            srcset="
            assets/Designer2_400.webp 400w,
            assets/Designer2_500.webp 500w,
            assets/Designer2_600.webp 600w,
            assets/Designer2_700.webp 700w,
            assets/Designer2.webp 1000w"
            src="assets/Designer2.webp"
          />
          <!-- </picture> -->
        </div>
      </div>
    </section>

    <section class="help-section">
      <div class="how-container">
        <h2>How we will Improve your website</h2>
        <ul>
          <li>
            <b>Website Speed</b><br /> We can guarantee an insanely snapy website
          </li>
          <li>
            <b>Copy</b><br /> We will make the best possible copy to make your website
            convert
          </li>
          <li>
            <b>Design</b><br /> We base our designs and layouts on proven design
            and ux principals
          </li>
        </ul>

        <div style="display: grid; gap:14px;">
          <p class="performance-p">
            We will make sure your site has top tier performance
          </p>
          <img src="assets/stats.webp" class="stats-img" />
        </div>

        <div class="astro-container how-item-container">
          <p class="astro-p">
            <b>-What is our methodology?</b><br />
            The backbone of our websites is <a
              class="string-link"
              href="https://astro.build"
              target="_blank"
              aria-label="link to Astro.build">Astro</a
            >, a framework that works as a static site generator. This means
            that all static content is served almost instantly to your users.
          </p>
          <a
            href="https://astro.build"
            target="_blank"
            aria-label="link to astro.build"
          >
            <picture>
              <source srcset="assets/astro_logo.webp" type="image/webp" />
              <source srcset="assets/astro_logo.png" type="image/png" />
              <img
                src="assets/astro_logo.webp"
                alt="Astro Logo"
                loading="lazy"
                class="icon"
              />
            </picture>
          </a>
        </div>

        <div class="prismic-container how-item-container">
          <a
            href="https://prismic.io"
            target="_blank"
            aria-label="link to Prismic.io"
          >
            <picture>
              <source srcset="../assets/prismic-logo.webp" type="image/webp" />
              <source srcset="../assets/prismic-logo.png" type="image/png" />
              <img
                src="../assets/prismic-logo.webp"
                alt="Prismic.io Logo"
                loading="lazy"
                class="icon"
              />
            </picture>
          </a>

          <p class="prismic-p">
            <b>-Can I edit small changes later on?</b><br />
            Yes, in fact its very easy, despite the website being built with code.
            Because we also integrate
            <a
              href="https://prismic.io"
              target="_blank"
              aria-label="link to Prismic.io"
              class="string-link">prismic</a
            > that makes it easy to edit your content, with pretty much no prior
            knowledge.
          </p>
        </div>
      </div>

      <section class="booking-section">
        <h2>book a free consultation call, and we will analyze your website</h2>
        <!-- <Calendly /> -->

        <div class="calendly-responsive-wrapper">
          <!-- <div
          class="calendly-inline-widget"
          data-url="https://calendly.com/holdtml-benjamin/reunion-inicial"
          style="min-width:320px;height:700px;"
        >
        </div> -->
          <div id="calendly-imbed">
            <div
              class="calendly-inline-widget"
              data-url="https://calendly.com/holdtml-benjamin/consultation?primary_color=df7b1e"
              style="min-width: 320px; height: 101dvh; width: 98vw; padding: 0px;"
            >
            </div>
            <script
              type="text/javascript"
              src="https://assets.calendly.com/assets/external/widget.js"
              defer
              async></script>
          </div>
        </div>
      </section>

      <footer class="home-footer">
        <a
          class="footer-email sm-icon"
          href="mailto:benjamin.astudilloloyer@holdtml.com"
          aria-label="email to benjamin.astudilloloyer@holdtml.com"
          >benjamin.astudilloloyer@holdtml.com</a
        >
        <div class="social-media-container">
          <a
            target="_blank"
            href="https://instagram.com/benjamin_astudilloloyer/"
            class="instagram sm-icon"
            aria-label="Instagram link"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blank"
            href="https://facebook.com/benjamin.holdtml"
            class="facebook sm-icon"
            aria-label="Facebook link"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a
            target="_blank"
            href="https://linkedin.com"
            class="linkedin sm-icon"
            aria-label="Linkedin link"
          >
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </footer>
    </section>
  </main>
</Layout>
