---
import { BtnHero } from "../components/nav";
import Layout from "../layouts/Layout.astro";
// import Calendly from "../components/Calendly.astro";
// import @fontsource/rubik;
import "../styles/homeStyles.css";
---

<Layout title="Home">
  <main>
    <section class="header-section">
      <div class="header-container">
        <h1>Increasing conversion rete, one landing page at a time</h1>
        <div class="header-cta-container">
          <p>sign up for a free call to chat with us</p>
          <BtnHero client:visible />
        </div>
        <div class="header-image">
          <picture>
            <source srcset="assets/Designer2.webp" type="image/webp" />
            <source srcset="assets/Designer2.jpeg" type="image/jpeg" />
            <img src="assets/Designer2.webp" alt="Header Image" />
          </picture>
        </div>
      </div>
    </section>

    <section class="help-section">
      <div class="how-container">
        <h2>How we can benefit your company</h2>
        <p class="how-paragraph-1 how-paragraph">
          We make websites to help your potential customers find out about your
          business, and become recurrent.
        </p>
        <p class="how-paragraph-2 how-paragraph">
          our area of expertise is making fast and attractive websites, that you
          can easily edit without needing to learn code
        </p>
        <div class="how-we-do-it-explanation">
          <div class="gatsby-container how-item-container">
            <p>
              <a
                href="https://astro.build"
                target="_blank"
                aria-label="link to Astro.build">Astro</a
              > is a static site generator, that we use to build your website, this
              means that all of its static content is served almost instantly
            </p>
            <a
              href="https://gastro.build"
              target="_blank"
              aria-label="link to astro.build"
            >
              <img
                class="icon"
                src="assets/astro_logo.png"
                alt="Astro Logo"
                loading="lazy"
              />
            </a>
          </div>
          <div class="prismic-container how-item-container">
            <a
              href="https://prismic.io"
              target="_blank"
              aria-label="link to Prismic.io"
            >
              <img
                class="icon"
                src="../assets/prismic-logo.png"
                alt="Prismic.io Logo"
                loading="lazy"
              />
            </a>
            <p>
              we integrate <a
                href="https://prismic.io"
                target="_blank"
                aria-label="link to Prismic.io">prismic</a
              > into your website, so that its content can be easily edited without
              you needing to hire any additional web developers, or learning how
              to code
            </p>
          </div>
        </div>
        <div class="insights-results"></div>
      </div>
    </section>

    <section class="booking-section">
      <h2>
        book a free no-pressure call if you're interested, and we can see if our
        services can help you
      </h2>
      <!-- <Calendly /> -->

      <div class="calendly-responsive-wrapper">
        <div
          class="calendly-inline-widget"
          data-url="https://calendly.com/holdtml-benjamin/reunion-inicial"
          style="min-width:320px;height:700px;"
        >
        </div>
        <script
          type="text/javascript"
          src="https://assets.calendly.com/assets/external/widget.js"
          async></script>
        <!-- <div id="calendly-imbed">
            <div
              class="calendly-inline-widget"
              data-url="https://calendly.com/holdtml-benjamin/reunion-inicial?primary_color=df7b1e"
              style="min-width: 320px; height: 92vh; width: 100%; margin: 0px 0px 120px 0px; padding: 0px"
            >
            </div> -->
      </div>
    </section>
  </main>

  <footer class="home-footer">
    <a
      class="footer-email sm-icon"
      href="mailto:benjamin.astudilloloyer@holdtml.com"
      aria-label="email to benjamin.astudilloloyer@holdtml.com"
      >benjamin.astudilloloyer@holdtml.com</a
    >
    <div class="social-media-container">
      <a
        target="_blank"
        href="https://instagram.com/benjamin_astudilloloyer/"
        class="instagram sm-icon"
        aria-label="Instagram link"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a
        target="_blank"
        href="https://facebook.com/benjamin.holdtml"
        class="facebook sm-icon"
        aria-label="Facebook link"
      >
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a
        target="_blank"
        href="https://linkedin.com"
        class="linkedin sm-icon"
        aria-label="Linkedin link"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </footer>
</Layout>
